---
const one = 1
console.info(one)
---

<html>
  <body>
    <h1>Hello, World!</h1>
    <img src="/astro.svg" />
    <svg
      width="200"
      height="250"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
    >
      <rect
        x="10"
        y="10"
        width="30"
        height="30"
        stroke="black"
        fill="transparent"
        stroke-width="5"></rect>
    </svg>
  </body>
</html>
<style>
  h1 {
    color: orange;
  }
</style>
