---
const foregroundColor = 'rgb(221 243 228)'
---

<html>
  <body>
    <h1>Hello, World!</h1>
  </body>
</html>
<style define:vars={{ textColor: foregroundColor }}>
  h1 {
    color: orange;
  }
</style>
