name: Release Auto-Update

on:
  pull_request:
    types:
      - closed
    paths:
      - './package.json'
      - './yarn.lock'

jobs:
  release:
    runs-on: ubuntu-latest
    if: ${{ github.event.pull_request.merged == true && github.event.pull_request.head.ref == 'renovate/typescript-preset' }}
    steps:
      - name: Setup git
        run: |
          git config user.name "GitHub Actions Bot"
          git config user.email "<>"

      # The auto-update is merged directly into release branch,
      # since we don't need to include the dev changes from main in the auto-release
      - name: Checkout release branch
        uses: actions/checkout@v3
        with:
          ref: release

      - name: Bump and push tag
        id: bump
        uses: anothrNick/github-tag-action@1.36.0
        env:
          WITH_V: true
          DRY_RUN: true
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Set new tag
        run: git tag ${{ steps.bump.outputs.new_tag }}
      
      - name: Push tag to protected release branch
        uses: CasperWA/push-protected@v2
        with:
          token: ${{ secrets.FULL_ACCESS_GITHUB_TOKEN }}
          branch: release
          tags: true
          unprotect_reviews: true

      # Just check if the version has a rc-like postfix
      # If so, the Github release should be marked as prerelease
      - name: Extract version
        id: tag
        uses: olegtarasov/get-tag@v2.1.1
        with:
          tagRegex: 'v(?<version>[0-9.]*)(?:-(?<rc>.*))?'

      # We actually don't update the package in this workflow
      # We just create a Github release, just like in regular release-cycle
      # The "release" workflow will handle it next
      - name: Create GitHub release
        uses: ncipollo/release-action@v1
        with:
          body: 'Auto-update dependencies'
          prerelease: ${{ steps.tag.outputs.rc != null }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Checkout main
        uses: actions/checkout@v3
        with:
          ref: main

      - name: Merge update into main
        run: |
          git merge ${{ steps.bump.outputs.new_tag }} -m "ci: merge ${{ steps.bump.outputs.new_tag }} tag into main"

      - name: Push to protected branch
        uses: CasperWA/push-protected@v2
        with:
          token: ${{ secrets.FULL_ACCESS_GITHUB_TOKEN }}
          branch: main
          tags: true
          unprotect_reviews: true